<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">
    <form method="post">
        <p><select name="site">
            <option selected value="https://news.ycombinator.com/news">Ycombinator</option>
            <option value="https://www.reddit.com">Reddit</option>

        </select></p>

        <p><select name="items">
            <option value="5" selected>5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">25</option>
        </select></p>
        <p><input type="submit" value="Отправить"></p>
    </form>
</div>
<div class="res">

</div>
</body>
</html>