h1= title
if error
    h4= error

form(method='POST')
    input(type='radio', name='lang', value='en-ru', checked='')
    |  EN -> RU
    input(type='radio', name='lang', value='ru-en')
    |  RU -> EN
    input(type='text', name='text')
    input(type='submit', value='Перевести')
